{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{ user.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="User Profile Picture">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text">{{ user.profile.bio }}</p>
            <p class="card-text">{{ user.profile.website_url }}</p>
            <p class="card-text">{{ user.profile.github_url }}</p>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}