:root {
    --primary: #0fa396; /* Default primary color */
    --secondary: #66CB8C; /* Default secondary color */
    --success: #28a745; /* Default success color */
    --info: #17a2b8; /* Default info color */
    --warning: #ffc107; /* Default warning color */
    --danger: #dc3545; /* Default danger color */
    --light: #f8f9fa; /* Default light color */
    --dark: #343a40; /* Default dark color */
  }

  a {
    color: var(--primary);
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: var(--secondary);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  a:hover{
    color: var(--secondary);
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .alert-success {
    background-color: var(--success);
    color: #fff;
  }
  body {
    font-family: Roboto, Nunito, serif;
  }
  .btn-primary {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
  }
  .btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  .btn-primary:focus {
    background-color: var(--info);
  }
  .btn-primary:active {
    background-color:var(--secondary);
  }
  .btn-primary:focus:hover{
    border-color: #17a2b8;
  }
  .btn-link {
    border-color: transparent;
  }
  .page-item.active .page-link {
    background-color: var(--primary);
  }
  .page-link:hover {
    color: var(--secondary);
  }
  .page-link{
    color: var(--primary);
  }
  .card-img-top {
    max-height: 150px;
    object-fit: cover;
  }
  .form-control:focus {
    border-color: var(--primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--primary);
  }
.my-header {
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

pre {
  font-size: .7em !important;
}

.sign-in-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.post-footer, .comments {
  padding: 20px 0;
}

.media {
  display: flex;
}

.mr-3 img {
  margin-right: 1.2em;
}
/* .card {
  padding-bottom: 1.2em;
} */
.mr-3 img:first-of-type {
  border-radius: 50%;
}