{% extends 'base.html' %} 
{% block title %}
Update Post
{% endblock title %}
{% block content %} 
<h1>Update Post</h1>
<div class='form-group'>
    <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div>
        <input class='btn btn-sm btn-secondary' type='submit' value='Update' >
        {% if user.is_superuser or user.id == object.user_id %}
            <a  href='{% url "article-delete" object.slug %}' class='btn btn-sm btn-danger float-end'>Delete</a>
        {% endif %}
        </div>
    </form>
    <br>
</div>
{% endblock content %}
