{% extends 'base.html' %} 
{% block title %}
Blog
{% endblock title %}
{% block content %} 
<div class='container'>
    <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</div>
{% if not object_list %}
<div class='display-5'>I'm sorry, there are no articles to view with this tag, perhaps try a few of these.</div>
{% for tag in tags %}
    <span class='badge rounded-pill bg-secondary'><a class='text-decoration-none text-reset' href="{% url 'article-list' tag.slug %}">{{tag}}</a></span>
{% endfor %}
{% else %}
{% endif %}
{% for post in object_list %}
    <div class='panel panel-default'>
        <div class="panel-heading">
            <a href='{% url "article-detail" post.slug %}'>{{ post.title }}</a> | {{ post.author }} posted {{ post.created_at|timesince }} ago
        </div>
        <div class="panel-body">
        <div>{{ post.body|truncatechars:200 }}</div>
        <div>
            {% for tag in post.tags.all %}
            <a href="{% url 'article-list' tag.slug %}">{{tag}}</a>
            {% endfor %}
            <div class='float-end'>
            {% if request.user.is_authenticated and post.author == request.user %}
            <a href='{% url "article-update" post.slug %}' class='badge rounded-pill bg-secondary text-decoration-none text-reset'>Edit</a>
            <a  href='{% url "article-delete" post.slug %}'class='badge rounded-pill bg-danger text-decoration-none text-reset'>Delete</a>
            {% endif %}
            </div>
        </div>
        <hr class="my-1">
    </div>

{% endfor %}
</ul>
{% endblock content %}
