{% extends 'base.html' %} 
{% block title %}
Update Post
{% endblock title %}
{% block content %} 

<h1>Update Post</h1>
<div class='form-group'>
    <form method='post'>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type='submit' value='Update' >
        <a  href='{% url "article-delete" object.slug %}'class='badge rounded-pill bg-danger text-decoration-none text-reset'>Delete</a>
    </form>
    {% if user.is_superuser or user.id == object.user_id %}
        <a  href='{% url "article-delete" object.slug %}' class='btn btn-danger'>Delete</a>
    {% endif %}
</div>
{% endblock content %}
