{% extends 'base.html' %} 
{% block title %}{{ post.title }}{% endblock title %}
{% load comments %}
{% load comments_xtd %}

{% block content %} 
{% load static %}
<div class='col-8 mx-auto'>
    <h1>{{ post.title }}</h1>
    <hr>
    <h3>{{ post.tagline }}</h3>
    <div class='content'>{{ post.body|safe }}</div>
    <div class='float-end'>
    {% if request.user.is_authenticated and post.author == request.user %}
    <a href='{% url "article-update" post.slug %}' class='btn btn-secondary btn-sm'>Edit</a>
    <a  href='{% url "article-delete" post.slug %}'class='btn btn-danger btn-sm float-end'>Delete</a>
    {% endif %}
    </div>
    <div>
        {{ post.author|title }} posted {{ post.created_at|timesince }} ago 
    </div>
    {% comment %} 
    <div>
        <form action='{% url "article-like" post.slug %}' method='post'>
        {{ post.author|title }} posted {{ post.created_at|timesince }} ago 
            {% csrf_token %}
            <button type='submit' class='btn'>
                {% if request.user in post.likes.all %}
                    <i class="fa-solid fa-thumbs-up fa-2xl text-success">
                {% else %}
                    <i class="fa-regular fa-thumbs-up fa-2xl">
                {% endif %}</i>{% if post.like_count %}<span class='badge rounded-pill bg-secondary'>{{post.like_count}}</span>{% endif %}
            </button>
        </form>
    </div> 
    {% endcomment %}
</div>
{% get_comment_count for post as comment_count %}
<div class="py-4 text-center">
  <a href="{% url 'article-list' %}">Back to the post list</a>
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve"}} been posted.
</div>

{% if object.allow_comments %}
<div class='col-8 mx-auto'>
    <a href='' id='comment_form_showhide'><h4 class="text-center mb-4">Join the Discussion</h4></a>

    <div class="comment mt-3 mb-5" id='comment_form' style='display:none'>
    <h4 class="text-center mb-4">Your comment</h4>
    <div class="card pt-4">
        {% render_comment_form for post %}
    </div>
    </div>
    {% endif %}

    {% if comment_count %}
    <ul class="media-list">
    {% render_xtdcomment_tree for post %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}

const linkElement = document.querySelector('#comment_form_showhide');

linkElement.addEventListener('click', function() {
    event.preventDefault();
  toggleVisibility('comment_form');
});

function toggleVisibility(elementId) {
  const element = document.getElementById(elementId);
  if (element.style.display === "none") {
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}

{% endblock scripts %}