<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <!-- Tags widget-->
    <div class="card mb-4">
        <div class="card-header">Tags</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                {% for tag in tags %}
                    {% if forloop.counter|divisibleby:2 %}
                        <li><a href="{% url 'article-list' tag.slug %}">{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                {% for tag in tags %}
                    {% if not forloop.counter|divisibleby:2 %}
                        <li><a href="{% url 'article-list' tag.slug %}">{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Hey there!</div>
        <div class="card-body">
            My name is Jay and I am a programmer with a passion for learning and sharing my knowledge with others. <br><br>
            Here you will find some notes and some articles disguised as a blog, I hope you find something helpful.<br><br>  
            Thank you for stopping by!
        </div>
    </div>
</div>